{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="card card-1  text-md-center">
            <div class="card card-1  text-md-center" id="card1">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td colspan="4"><h3><b>СПИСОК ВАШИХ ЩЕПЛЕНЬ:</b></h3></td>
                    </tr>
                    <tr>
                        <td><b>Запланована дата вакцинації:</b></td>
                        <td><b>Фактична дата вакцинації:</b></td>
                        <td><b>Номер дози/Доз всього</b></td>
                        <td><b>Вакцина</b></td>
                    </tr>
                    {% for vaccination in vaccinations %}
                        <tr>
                            <td>{{ vaccination.scheduled_date }}</td>
                            <td>{{ vaccination.actual_date }}</td>
                            <td>{{ vaccination.number_of_dose }}/{{ vaccination.vaccine.amount_of_doses }}</td>
                            <td>{{ vaccination.vaccine.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}