{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="card card-1  text-md-center">
            <div class="card card-1  text-md-center" id="card1">
                <form action="{{ action_url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="patient_id" value="{{ patient.id }}">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <h4><b>Оберіть вакцинацію, яку необхідно змінити:</b></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select required name="vaccination_id" style="width: 50%" class="form-select"
                                        aria-label="Default select example">
                                    {% for vaccination in vaccinations %}
                                        <option value="{{ vaccination.id }}">{{ vaccination.vaccine.name }}. Дата
                                            вакцинації: {{ vaccination.actual_date|date:"d/m/Y" }}. Отримано
                                            доз {{ vaccination.number_of_dose }}/{{ vaccination.vaccine.amount_of_doses }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                        <tr>
                            <td colspan="2">
                                <input style="width: 50%" type="submit" class="btn btn-primary" value="Відредагувати">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}