{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="card card-1  text-md-center">
            <div class="card card-1  text-md-center" id="card1">
                <form action="add_queue" method="POST">
                    {% csrf_token %}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <h3><b>Додавання черги</b></h3>
                            </td>
                        </tr>
                        <tr>
                            <td><b><label for="datefield">День, на який буде створена черга:</label></b></td>
                            <td><input name="queue_date" required type="date" class="form-control"
                                       id="datefield"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input style="width: 50%" type="submit" class="btn btn-primary" value="Додати">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

<script>

var today = new Date();
var dd = today.getDate() + 1;
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("datefield").setAttribute("min", today);

</script>
{% endblock %}